
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: #1f242d;
}
a{
    color:#fff ;
    text-decoration: none;    
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background-color: slateblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
    
}
.navbar ul li{
 list-style:none; 
 margin-left: 35px;
}

.navbar ul li a{
    font-size: 20px; 
    font-weight:500;
    transition: .5s;
}
.navbar ul li:hover a {
 color: lawngreen;
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
}
.home-info h1{
    font-size: 50px;
}
.home-info h2{
 font-size: 32px;
 margin-top: -10px;
}
.home-info p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: size 16px; 
    margin: 10px 0 25px;
}
.home-info .btn-sci{
    display:flex;
    align-items: center;
}
.btn {
    display:inline-block;
    padding:10px 30px;
    background:rgb(99, 212, 216);
    border: 2px solid rgb(27, 27, 26);
    border-radius: 40px; 
    box-shadow: 0 0 10px;
    font-size: 16Px; 
    color:black;
    font-weight: 600;
    transition: .5s;
}
.btn:hover{
    background-color: transparent;
    color: yellowgreen;
    box-shadow: none;
}
.home-info .btn-sci .sci{
    margin-left: 20px;
}
.home-info .btn-sci .sci a{
    display: inline-flex; 
    padding: 8px;
    border: 2px solid rgb(99, 212, 216);
    border-radius: 50%; 
    font-size: 20px;
    color: yellowgreen;
    margin:0 8px;
    transition: 0.5s; 
}
.home-info .btn-sci .sci a:hover{
    background: #7cf03d;
    color:#1f242d;
    box-shadow:0 0 10px ;
}